In [1]:
#Tratamiento de datos de twitter
#importamos la libreria pandas
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
names = ['id','screenName','tags','avatar','followersCount','friendsCount','lang','lastSeen','tweetId','friends']
datos = pd.read_csv('data.csv',error_bad_lines=False, names= names)

In [4]:
data = datos[1:]

In [5]:
data.head()

,id,screenName,tags,avatar,followersCount,friendsCount,lang,lastSeen,tweetId,friends
1,1969527638,LlngoMakeEmCum_,"[ ""#nationaldogday"" ]",http://pbs.twimg.com/profile_images/5342862178...,319,112,en,1472271687519,769310701580083200,"[ ""1969574754"""
2,51878493,_notmichelle,"[ ""#nationaldogday"" ]",http://pbs.twimg.com/profile_images/7619776021...,275,115,en,1472270622663,769309490038439936,"[ ""60789485"""
3,1393409100,jesseayye,"[ ""#narcos"" ]",http://pbs.twimg.com/profile_images/7132829382...,120,107,en,1472804144409,771622623583186944,"[ ""86868062"""
4,232891415,MrBrianLloyd,"[ ""#gloryoutnow"" ]",http://pbs.twimg.com/profile_images/1334406683...,492,325,en,1472269186776,769308131696467969,"[ ""361335082"""
5,710130422907207680,sarahdorat_16,"[ ""#nationaldogday"" ]",http://pbs.twimg.com/profile_images/7671805202...,128,218,en,1472271397356,769309769144283137,"[ ""1571896093"""

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 1 to 40000
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              40000 non-null  object
 1   screenName      40000 non-null  object
 2   tags            40000 non-null  object
 3   avatar          40000 non-null  object
 4   followersCount  40000 non-null  object
 5   friendsCount    40000 non-null  object
 6   lang            40000 non-null  object
 7   lastSeen        40000 non-null  object
 8   tweetId         40000 non-null  object
 9   friends         40000 non-null  object
dtypes: object(10)
memory usage: 3.1+ MB